@import 'base/variables'


@import 'libs/fonts'
@import 'libs/bootstrap-reboot.min'
@import 'libs/bootstrap-grid.min'


@import 'blocks/header'
@import 'blocks/navigation'
@import 'blocks/lang'


html
    box-sizing: border-box

body
    margin: 0
    font-family: 'montserrat', sans-serif
    color: $black
    font-size: 15px
    background-color: $gray

*,
*:before,
*:after
    box-sizing: inherit