@import 'base/variables'
@import 'base/animations'
@import 'base/media'


@import 'libs/fonts'


@import '../../node_modules/bootstrap/scss/functions'
@import '../../node_modules/bootstrap/scss/variables'
@import '../../node_modules/bootstrap/scss/mixins'
@import '../../node_modules/bootstrap/scss/transitions'
@import '../../node_modules/bootstrap/scss/grid'
@import '../../node_modules/bootstrap/scss/reboot'
@import '../../node_modules/bootstrap/scss/modal'
@import '../../node_modules/bootstrap/scss/carousel'


@import 'blocks/page'
@import 'blocks/header'
@import 'blocks/navigation'
@import 'blocks/lang'
@import 'blocks/content'
@import 'blocks/promo'
@import 'blocks/btn'
@import 'blocks/contacts'
@import 'blocks/author'
@import 'blocks/circle'
@import 'blocks/social'
@import 'blocks/modal'
@import 'blocks/feed-form'
@import 'blocks/services'
@import 'blocks/portfolio'
@import 'blocks/carousel'
@import 'blocks/footer'


html
    box-sizing: border-box

body
    margin: 0
    font-family: 'montserrat', sans-serif
    color: $black
    font-size: 15px
    background-color: $gray

*,
*:before,
*:after
    box-sizing: inherit