<!DOCTYPE html>
<html lang="uk">
<head>
        <!-- Head -->
        {{> head }}
</head>
<body>
    <!-- SVG sprite -->
    {{> sprite }}

    <div class="page">
        <!-- Header -->
        {{> header }}

        <!-- Content -->
        <div class="content">
            {{> body }}
        </div>

        <!-- Footer -->
        {{> footer }}
    </div>

    {{> modal }}

    <script src="js/script.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js"></script>
</body>
</html>