<!DOCTYPE html>
<html lang="uk">
<head>
        <!-- Head -->
        {{> head }}
</head>
<body>
    <!-- SVG sprite -->
    {{> sprite }}

    <div class="page">
        <!-- Header -->
        {{> header }}

        <!-- Content -->
        <div class="content">
            {{> body }}
        </div>

        <!-- Footer -->
        {{> footer }}
    </div>

    {{> modal }}
    
    <script defer src="https://www.gstatic.com/firebasejs/7.8.2/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/7.8.2/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/7.8.2/firebase-database.js"></script>    
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script defer src="js/script.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js"></script>    
</body>
</html>