.dots-xs
    display: none
.carousel-item_hide
    display: none       

.carousel
    margin-bottom: 40px

    &-item
        max-width: 1110px

    &-control-prev
        width: 105px
        left: -83px
        
        &:focus
            .carousel__icon
                fill: $pink
        &:hover
            .carousel__icon
                fill: $pink
    
    &-control-next
        width: 105px
        right: -83px

        &:focus
            .carousel__icon
                fill: $pink
        &:hover
            .carousel__icon
                fill: $pink

    &-indicators
        bottom: -60px

    &-indicators li
        background-color: $gray_dark
        transition: 0.2s linear
        &:hover
            background-color: $pink

    &-indicators .active
        background-color: $pink

    &__icon
        height: 48px
        width: 48px
        fill: $gray_dark
        transition: 0.2s linear