.header
    margin-top: 30px

.header-inner
    width: 1110px
    height: 58px
    box-shadow: $shadow
    border-radius: $radius
    background-color: $white
    &__logo
        display: block
        margin: 14px 21px
        height: 30px
        img
            height: 30px