.header
    margin-top: 30px

.header-inner
    width: 1110px
    height: 58px
    box-shadow: $shadow
    border-radius: $radius
    background-color: $white
    &__logo
        display: block
        padding: 14px 21px
        max-width: 100%
        img
            height: 30px

.header__row
    align-items: center