.navigation
    z-index: 5
    position: relative
    display: flex
    font-size: 15px
    &__link
        position: relative
        padding: 7px 25px
        margin-right: 10px
        color: $black
        font-weight: 500
        text-decoration: none
        transition: 0.5s
        border-radius: 30px
        overflow: hidden
        &:before
            content: ''
            position: absolute
            top: calc(50% - 2px)
            left: -100%
            width: 100%
            height: 4px
            background: $pink
            transition: 0.5s
            border-radius: 30px
        &:hover
            color: $white
            text-decoration: none
        &:hover::before
            animation: animateMenu .5s linear forwards

        &.active
            color: $white
            background-color: $pink
        &.active:before
            display: none