<!-- Header -->
<header class="header">
    <div class="container">
        <div class="header-inner">

            <div class="row header__row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2">
                    <a href="index.html" class="header-inner__logo">
                        <img src="icons/logo.svg" alt="logo">
                    </a>
                </div>

                <div class="col-3 col-sm-4 col-md-6 col-lg-8 xs-hidden">
                    <nav class="navigation">
                        <a href="index.html" class="navigation__link">Головна</a>
                        <a href="services.html" class="navigation__link">Навички</a>
                        <a href="portfolio.html" class="navigation__link">Портфоліо</a>
                    </nav>
                </div>

            </div>

            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
        </div> <!-- /header-inner -->
    </div>
</header>