<!-- Modal -->
<div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                <svg class="modal__close-icon">
                    <use xlink:href="#close"></use>
                </svg>
            </button>


            <div class="modal__title">Оставить заявку</div>
            <div class="modal__subtitle">Заполните форму ниже и я свяжусь с вами в ближайшее время!</div>

            <form action="#" class="feed-form">
                <input type="text" class="feed-form__input" placeholder="Ваше имя">
                <input type="email" class="feed-form__input" placeholder="Ваш e-mail">
                <input type="tel" class="feed-form__input" placeholder="Ваш телефон">
            </form>


            <div class="row">

                <div class="col-lg-6">
                    <button class="btn btn_pink" type="submit">Оставить заявку</button>
                </div>

                <div class="col-lg-6">
                    <ul class="contacts contacts_modal">
                        <li class="contacts__item">
                            <a class="contacts__link" href="tel:+380984871480">+380 (98) 487-14-80</a>
                        </li>
                        
                        <li class="contacts__item">
                            <a class="contacts__link" href="mailto:v.snaichuk@gmail.com">v.snaichuk@gmail.com</a>
                        </li>
                    </ul>
                </div>

            </div> <!-- /row -->
            
        </div> <!-- /modal-content -->
    </div> <!-- /modal-dialog -->
  </div>